@model AboutViewModel


<h1>About Us</h1></h1>
<h3>@Model.Title</h3>
<p>@Model.Message</p>

<p>@Model.Company is a Company developing Student Management System</p>
<p>We were born on @Model.FormedStr</p>
<p>And are in operation for @Model.Days days</p>




